*{
    margin: 0% ;
    padding: 5px;
    box-sizing: border-box;
}

body{
    text-align: center;
    background-color: lightblue;
    font-family: 'Rubik', sans-serif;
}

.menuContacto{
    text-align: center;
    text-decoration: none;
    list-style: none;
}

a{
    width: 100%;
    text-decoration: none;
    padding: 15px;
    border-bottom: 2px;
    color: blanchedalmond; 
}

h1{
    background-color: white;
    border: 2px solid rgb(189, 45, 100);
    color: rgb(189, 45, 100);   
}

p{
    text-align: center;
    font-size: 18px;
    background-color: gray;
    color: blanchedalmond;
}

img{
    width: 280px;
    border-radius: 30px;
    margin: 5px;
}

.form-check{
    justify-content: center;
}

footer{
    text-align: center;
    background-color: black;
    color: blanchedalmond;
}

li{
    list-style: none;
    display: inline;  
}

.btn{
    display: flex;
    margin-top: 5px;
}

    

  
    


